<h1>Welcome to our Awesome Chess App</h1>


<!-- Include header to introduce available games

      Call available games method
      display the game_id of all available games
      display the white_player_id email address of all available games as the opponent
      -->