<div class="game">
  <h1>Have Fun</h1>
  <br />
  <table id="gameboard">
    <tbody>
      <tr class="y-pos-0">
        <td class="x-pos-7">
          <img alt="White Rook" src="/assets/rookw.gif">
        </td>
        <td class="x-pos-6">
          <img alt="White Knight" src="/assets/knightw.gif">
        </td>
        <td class="x-pos-5">
          <img alt="White Bishop" src="/assets/bishopw.gif">
        </td>
        <td class="x-pos-4">
          <img alt="White Queen" src="/assets/queenw.gif">
        </td>
        <td class="x-pos-3">
          <img alt="White King" src="/assets/kingw.gif">
        </td>
        <td class="x-pos-2">
          <img alt="White Bishop" src="/assets/bishopw.gif">
        </td>
        <td class="x-pos-1">
          <img alt="White Knight" src="/assets/knightw.gif">
        </td>
        <td class="x-pos-0">
          <img alt="White Rook" src="/assets/rookw.gif">
        </td>
      </tr>
      <tr class="y-pos-1">
        <td class="x-pos-7">
          <img alt="White Pawn" src="/assets/pawnw.gif">
        </td>
        <td class="x-pos-6">
          <img alt="White Pawn" src="/assets/pawnw.gif">
        </td>
        <td class="x-pos-5">
          <img alt="White Pawn" src="/assets/pawnw.gif">
        </td>
        <td class="x-pos-4">
          <img alt="White Pawn" src="/assets/pawnw.gif">
        </td>
        <td class="x-pos-3">
          <img alt="White Pawn" src="/assets/pawnw.gif">
        </td>
        <td class="x-pos-2">
          <img alt="White Pawn" src="/assets/pawnw.gif">
        </td>
        <td class="x-pos-1">
          <img alt="White Pawn" src="/assets/pawnw.gif">
        </td>
        <td class="x-pos-0">
          <img alt="White Pawn" src="/assets/pawnw.gif">
        </td>
      </tr>
      <tr class="y-pos-2">
        <td class="x-pos-7"></td>
        <td class="x-pos-6"></td>
        <td class="x-pos-5"></td>
        <td class="x-pos-4"></td>
        <td class="x-pos-3"></td>
        <td class="x-pos-2"></td>
        <td class="x-pos-1"></td>
        <td class="x-pos-0"></td>
      </tr>
      <tr class="y-pos-3">
        <td class="x-pos-7"></td>
        <td class="x-pos-6"></td>
        <td class="x-pos-5"></td>
        <td class="x-pos-4"></td>
        <td class="x-pos-3"></td>
        <td class="x-pos-2"></td>
        <td class="x-pos-1"></td>
        <td class="x-pos-0"></td>
      </tr>
      <tr class="y-pos-4">
        <td class="x-pos-7"></td>
        <td class="x-pos-6"></td>
        <td class="x-pos-5"></td>
        <td class="x-pos-4"></td>
        <td class="x-pos-3"></td>
        <td class="x-pos-2"></td>
        <td class="x-pos-1"></td>
        <td class="x-pos-0"></td>
      </tr>
      <tr class="y-pos-5">
        <td class="x-pos-7"></td>
        <td class="x-pos-6"></td>
        <td class="x-pos-5"></td>
        <td class="x-pos-4"></td>
        <td class="x-pos-3"></td>
        <td class="x-pos-2"></td>
        <td class="x-pos-1"></td>
        <td class="x-pos-0"></td>
      </tr>
      <tr class="y-pos-6">
        <td class="x-pos-7">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-6">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-5">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-4">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-3">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-2">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-1">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-0">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
      </tr>
      <tr class="y-pos-7">
        <td class="x-pos-7">
          <img alt="Black Rook" src="/assets/rookb.gif">
        </td>
        <td class="x-pos-6">
          <img alt="Black Knight" src="/assets/knightb.gif">
        </td>
        <td class="x-pos-5">
          <img alt="Black Bishop" src="/assets/bishopb.gif">
        </td>
        <td class="x-pos-4">
          <img alt="Black Queen" src="/assets/queenb.gif">
        </td>
        <td class="x-pos-3">
          <img alt="Black King" src="/assets/kingb.gif">
        </td>
        <td class="x-pos-2">
          <img alt="Black Bishop" src="/assets/bishopb.gif">
        </td>
        <td class="x-pos-1">
          <img alt="Black Knight" src="/assets/knightb.gif">
        </td>
        <td class="x-pos-0">
          <img alt="Black Rook" src="/assets/rookb.gif">
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <br /> -->
  <div class="game-nav-item">
    <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
  </div>
</div>

